body {
    height: 100%;
    width: 100%;
    font-family: "Lucida Grande", Arial, Verdana, sans-serif;
    letter-spacing: 0.3rem;
    background: url("../image/bg.jpg") no-repeat fixed;
    background-size: cover;
    font-size: large;
}

.fake-link {
    text-transform: uppercase;
}

.fake-link:hover {
    cursor: pointer;
    color: #976369;;
}

main {
    width: 60%;
    text-align: center;
    margin: 40px auto;
}

main a,
.account-container a{
    text-decoration: none;
    text-transform: uppercase;
    color: #414141;
}

main a:hover,
main a.active,
.account-container a:hover,
.account-container a:active {
    text-decoration: none;
    color: #976369;
}

main li,
.account-container li{
    display: inline;
}

.wide-view {
    width: 80%;
}

.account-container {
    width: 100%;
    margin-top: 10px;
    text-align: right;
    padding-right: 15px;
}

.account-container li {
    margin-right: 20px;
    margin-bottom: 20px;
}

.account-container li .active {
    color: rgb(154, 125, 121);
}

main ul {
    padding: 0;
    width: 100%;
    margin: 40px 0;
    display: inline-flex;
    justify-content: space-around;
}

header .navigation .menu-content li {
    width: 33.3%;
}

.carousel-inner > .item > img {
    margin: auto;
    width: 100%;
}

.form-horizontal {
    margin: auto;
    max-width: 70%;
}

.form-group {
    margin-bottom: 30px;
}

.jumbotron {
    background-color: rgba(154, 125, 121, 0.2);
}

.admin-booking {
    width: 80%;
}

    /*carousel settings*/
.carousel-caption {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 0 0 10px 25px;
    color: #fff;
    text-align: left;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 0 25px 25px 0;
    text-align: right;
}

    /*error settings*/
.error-message {
    color: rgb(154, 62, 55);
    font-size: xx-large;
    font-weight: bolder;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 1%;
}

    /*form settings*/
.form-group > .apartment {
    display: flex;
    justify-content: space-between;
    font-family: "Adobe Gothic Std B", serif;
}

.form-group > .persons > select {
    width: auto;
    padding: 0 3%;
}

.form-group .control-label {
    text-align: center;
}

.form-group .input-btn {
    width: 20%;
    background-color: rgb(154, 125, 121);
    border-color: transparent;
}

.form-group button {
    width: 70%;
    background-color: rgb(154, 125, 121);
    border-color: transparent;
}

legend {
    font-size: xx-large;
    font-family: "Modern No. 20", cursive;
    text-transform: uppercase;
}

    /*success page*/
.success, .error {
    font-size: xx-large;
}
    /*booking page*/
.full-block {
    display: inline-flex;
    justify-content: space-around;
}

.full-block .rooms-block {
    font-size: small;
    text-align: center;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: x-large;
    color: rgba(0, 0, 0, 0.5);
    margin: 3%;
}

.main-title {
    font-size: xx-large;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: "Modern No. 20", cursive;
}

table {
    font-size: medium;
    font-weight: bolder;
    border: medium white solid;
    display: table;
}

table tbody {
    color: rgba(0, 0, 0, 0.5);
}

table thead {
    color: rgba(0, 0, 0, 0.5);
}

table td {
    text-align: center;
}

table th {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

    /*Payment*/
.cc-selector input {
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.visa {
    background-image:url("../image/payment/visa.png");
}
.mastercard {
    background-image:url("../image/payment/mastercard.png");
}

.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.drinkcard-cc {
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

@media screen and (max-width: 1366px) {
    body {
        zoom: 0.8;
    }
}

footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background: rgba(154, 125, 121, 0.5);
    text-align: end;
}