<taglib>
    <tlib-version>1.0</tlib-version>
    <jsp-version>2.0</jsp-version>
    <short-name>Reservation TLD</short-name>
    <tag>
        <name>resInfo</name>
        <tag-class>by.epam.training.tags.ReservationInfoTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <name>reservation</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>showDate</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
            <type>boolean</type>
        </attribute>
    </tag>
</taglib>