<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<fmt:bundle basename="content">
<head>
    <script src="<c:url value="/js/jquery-1.11.3.min.js"/>"></script>
</head>
<body>
    <header>
        <div class="account-container">
            <ul>
                <%--Language buttons--%>
                <li>
                    <form action="<c:url value="/controller"/>">
                        <input name="command" value="change_language" type="hidden"/>
                        <input id="language" name="language" value="en_US" type="hidden"/>
                        <a href="#" id="en">En</a>
                        /
                        <a href="#" id="ru">Ru</a>
                    </form>
                </li>
                <c:choose>
                    <%--Login and Registration buttons--%>
                    <c:when test="${sessionScope.user.role.name() == 'GUEST'}">
                        <li>
                            <a href="<c:url value="/jsp/account/login.jsp"/>">
                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                <fmt:message key="header.login"/>
                            </a>
                        </li>
                        <li>
                            <a href="<c:url value="/jsp/account/registration.jsp"/>">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                <fmt:message key="header.registration"/>
                            </a>
                        </li>
                    </c:when>
                    <%--Logout button--%>
                    <c:otherwise>
                        <li>
                            <c:set var="logout">
                                <c:url value="/controller">
                                    <c:param name="command" value="logout"/>
                                </c:url>
                            </c:set>
                            <a href="${logout}">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                <fmt:message key="header.logout"/>
                            </a>
                        </li>
                    </c:otherwise>
                </c:choose>
            </ul>
        </div>
    </header>
    <script src="<c:url value="/js/changeLanguage.js"/>"></script>
</body>
</fmt:bundle>